@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/*-----------------------------------------*/

/*Área de Contatos*/

#logoContatos{
   position: absolute;
   margin-left: 340px;
   margin-top: 50px;
}

.formularioContato { 
    max-width:600px; 
    height:auto; 
    margin:auto; 
    padding: 20px 20px; 
    border-radius: 30px; 
    background: linear-gradient(-60deg, #012776 0%,#0f0f0f 112.71%); 
}

.formularioContato:before { 
    width:0; 
    height:0; 
    border:15px solid transparent; 
    border-bottom-color:#012776; 
    content:""; 
    position:absolute; 
    left:6%; 
    top:-4.5%; 
    margin-top:-4px; 
    margin-left:6px; 
    z-index:2;
}

.formularioContato label  { 
    float:left; 
    width:100%; 
    margin-bottom:1.2em; 
}

.formularioContato label span {
    width: 100%;
    float: left;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 6px;
    font-family: 'Poppins', sans-serif; 
}

.formularioContato label input  { 
    font-size:1em; 
    color:#555; 
    font-family: 'Poppins', sans-serif; 
    outline:none; 
    border:1px #dee5ed solid; 
    border-radius: 10px; 
    padding:0.6em; 
    transition: 0.3s;  
    width: 270px;
}

.formularioContato label select { 
    font-size:1em; 
    color:#555; 
    border:1px #dee5ed solid; 
    border-radius:4px; 
    padding:0.6em; 
    outline:none; 
    transition: 0.3s;  
}

.formularioContato label textarea { 
    font-size:1em; 
    color:#555;
    padding: 6px; 
    border:1px #dee5ed solid; 
    border-radius: 10px; 
    width: 99%;
    height: 200px;
    outline:none;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif; 
    resize: none; 
}

.formularioContato label input:focus { 
    box-shadow:0 0 5px 0px rgb(178,216,231); 
    border:1px #B4E4FF solid; 
    color:#B4E4FF;
    font-family: 'Poppins', sans-serif; 
}

.formularioContato label select:focus { 
    box-shadow:0 0 5px 0px rgb(178,216,231); 
    border:1px #B4E4FF solid;
    font-family: 'Poppins', sans-serif; 
}

.formularioContato label textarea:focus { 
    box-shadow:0 0 5px 0px rgb(178,216,231); 
    border:1px #B4E4FF solid; 
    color:#B4E4FF;
    font-family: 'Poppins', sans-serif; 
}

.formularioContato button.btn-envia { 
    background: transparent;
    width: 30%; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 2px #B4E4FF;
    display:block; 
    margin-top: 0;
    margin: auto; 
    cursor:pointer; 
    border-radius: 30px;  
    padding: 6px 0;
    color:#fff; 
    font-size:1.3em; 
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    transition: 0.3s;   
}

.formularioContato button.btn-envia:hover { 
    background-color:#B4E4FF; 
    color: #0f0f0f;
}

/*--------------Responsividade*/

@media (max-width: 1080px)
    {
        .formularioContato {
            max-width: 310px;
        }

        .formularioContato label textarea { 
            width: 270px;
        }

        #logoContatos{
            display: none;
        }
    }