@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/*-----------------------------------------*/

/*Rodapé*/
#rodape{
    background: linear-gradient(60deg, #012776 0%, #0f0f0f 112.71%);
    height: 390px;
    width: 100%;
    margin-top: 50px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#vesiculo-biblico{
    margin-top: 20px;
    font-size: 15px;
}

#contatos{
    font-size: 15px;
    margin-bottom: 7px;
}

#direitosDoSite{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -20px;
}

#direitosDoSite>a{
    color: #f0f0f0;
    text-decoration: none;
    padding-left: 3px;
}

#direitosDoSite>a:hover{
    color: #B4E4FF;
    text-decoration: none;
}

#faleConosco-Rodape{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.iconesRodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.iconesRodape>a>i{
    font-size: 30px;
    margin-right: 7px;
    color: #f0f0f0;
    margin-right: 30px;
}

.iconesRodape>a>i:hover{
    cursor: pointer;
    color: #B4E4FF;
}

@media (max-width: 1080px)
{    
    body{
        max-width: 1080px;
    }

    #rodape{
        width: 100%;
        height: 500px;
        margin-bottom: 0;
        padding: 10px 40px;
        font-size: 10px;
    }

    #faleConosco-Rodape{
        font-size: 30px;
        margin: 20px 0;
    }

    #direitosDoSite{
        font-size: 8px;
        margin-top: 10px;
        text-align: center;
    }

    #contatos{
        font-size: 10px;
    }

    .iconesRodape{
        width: 37px;
        margin-top: 5px;
    }

    .barraTitulos{
        margin-top: -10px;
        font-size: 25px;
    }
}