@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/*-----------------------------------------*/

#conteudo-sobre-nos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.divs-sobre-nos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #22222279;
    width: 25vw;
    height: 50vh;
}

.descricoes-sobre-nos{
    padding: 2vh 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.imagens-sobre-nos{
    width: 13vw;
}

/*-------------------Responsividade-------------------*/

@media (max-width: 1080px)
/*Celular*/
{    
    .imgsSN{
        width: 350px;
    }

    #imgsSN{
        flex-direction: column;
    }

    .divs-sobre-nos{
        margin-bottom: 50px;
    }

    #conteudo-sobre-nos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}